div p {
    color: blue;
}

ul > li {
    list-style-type: circle;
}

p + p {
    background-color: #eee;
    color: blue
}

p span {
    color: red;
}

p ~ span {
    color: red;
}
