header, section, footer {
    margin: 20px;
    padding: 20px;
}

h1, h2, p {
    font-family: 'Arial', sans-serif;
    color: red;
}

header a:hover, section a:hover, footer a:hover {
    color: green;
    text-decoration: underline;
}

section p a {
    color: purple;
}

footer > a {
    color: orange;
}
